html,
body,
div,
span,
p,
br,
table,
th,
tr,
td,
img,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
html,
body {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background: #fff;
  color: #333;
}
body {
  font-family: sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
}
div {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
a img {
  border: none;
  outline: none;
}
a:hover {
  text-decoration: underline;
}
ol,
ul {
  list-style: none;
}
li {
  display: block;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.text-hide {
  overflow: hidden;
  text-align: left;
  text-indent: -9999em;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.center-x {
  display: block;
  position: relative;
  float: none;
  overflow: hidden;
  zoom: 1;
  text-align: left;
}
.clearfloat:after {
  content: '';
  display: table;
  clear: both;
}
.section {
  position: relative;
}
.section:after {
  content: '';
  display: table;
  clear: both;
}
.inner {
  margin: 0 auto;
  position: relative;
}
.inner:after {
  content: '';
  display: table;
  clear: both;
}
.clearbreak {
  display: block;
  overflow: hidden;
  height: 0;
  float: none;
  clear: both;
}
.inline-block {
  display: inline-block;
  width: auto;
  float: none;
  clear: none;
  vertical-align: top;
  zoom: 1;
}
.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scroll-disabled {
  overflow: hidden;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.col {
  display: block;
  float: left;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
.one-third {
  width: 33.333%;
}
.two-thirds {
  width: 66.666%;
}
.one-quarter {
  width: 25%;
}
.three-quarters {
  width: 75%;
}
.one-fifth {
  width: 20%;
}
.two-fifths {
  width: 40%;
}
.three-fifths {
  width: 60%;
}
.four-fifths {
  width: 80%;
}
.video-hd {
  width: 64%;
}
.video-hd.aside {
  width: 36%;
}
/*
&, *, *:before, *:after {
    box-sizing:border-box;
}
*/
.times {
  font-family: Times, "Times New Roman", serif;
}
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/oswald-regular-webfont.eot');
  src: url('/fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/oswald-regular-webfont.woff') format('woff'), url('/fonts/oswald-regular-webfont.ttf') format('truetype'), url('/fonts/oswald-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: #333333;
  color: #eeeeee;
  font-size: 12px;
  line-height: 20px;
  font-family: sans-serif;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
}
/* GENERAL ------------------------------ */
p,
h1,
h2,
h3,
h4 {
  cursor: default;
}
p {
  display: block;
  padding: 0;
  font-size: 100%;
  line-height: 20px;
}
p a {
  display: inline;
  text-decoration: none;
  font-weight: bold;
}
p a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  display: block;
  font-size: 28px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 0 20px;
  padding: 0;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: #eeeeee;
  font-weight: normal;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: #eeeeee;
  text-decoration: underline;
}
iframe {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.btn {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 10px 40px;
  margin: 20px auto 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  color: #333333;
  background: transparent;
  border: solid 2px #333333;
}
.btn.lowercase {
  text-transform: lowercase;
}
.btn:hover {
  background: #333333;
  color: #ff9900;
  text-decoration: none;
}
/* PRELOADER ------------------------------ */
.preloader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background-color: #222;
}
.spinner {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.spinner svg * {
  fill: #333;
}
.no-smil .spinner {
  background-image: url(/images/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  opacity: 0.5;
}
.no-smil .spinner svg {
  display: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .no-smil .spinner {
    background-image: url('/images/preloader@2x.gif');
  }
}
/* STRUCTURE ------------------------------ */
#container,
#loader {
  float: none;
  clear: both;
  overflow: hidden;
  zoom: 1;
  z-index: 0;
}
.inner:after {
  display: table;
  content: '';
}
.row {
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.block .inner {
  display: inline-table;
  margin: auto;
}
.block img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.row,
.block {
  float: left;
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
/* COLORS ------------------------------ */
.black {
  background-color: #111111;
  color: #999999;
  border-color: #999999;
}
.black .btn {
  color: #666666;
  border-color: #666666;
}
.black .btn:hover {
  color: #111111;
  background-color: #666666;
}
.black .icon svg * {
  stroke: #999999;
}
.dark {
  background-color: #333333;
  color: #ff9900;
  border-color: #ff9900;
}
.dark .btn {
  color: #ff9900;
  border-color: #ff9900;
}
.dark .btn:hover {
  background-color: #ff9900;
  color: #333333;
}
.dark .icon svg * {
  stroke: #ff9900;
}
.gray {
  background-color: #666666;
  color: #eeeeee;
  border-color: #eeeeee;
}
.gray .btn {
  color: #eeeeee;
  border-color: #eeeeee;
}
.gray .btn:hover {
  color: #666666;
  background-color: #eeeeee;
}
.gray .icon svg * {
  stroke: #eeeeee;
}
.white {
  background-color: #eeeeee;
  color: #666666;
  border-color: #666666;
}
.white .icon svg * {
  stroke: #666666;
}
.white .btn {
  color: #666666;
  border-color: #666666;
}
.white .btn:hover {
  background-color: #666666;
  color: #eeeeee;
}
.yellow {
  background-color: #ff9900;
  color: #333333;
  border-color: #333333;
}
.yellow .btn {
  color: #333333;
  border-color: #333333;
}
.yellow .btn:hover {
  color: #ff9900;
  background-color: #333333;
}
.yellow .icon svg * {
  stroke: #333333;
}
/* ARROWS ------------------------------ */
.arrow {
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background: transparent;
}
.arrow svg {
  position: absolute;
  width: 80px;
  height: 80px;
}
.point-right,
.point-left {
  width: 40px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
}
.point-down,
.point-up {
  width: 80px;
  height: 40px;
  left: 50%;
  margin-left: -40px;
}
.point-right {
  left: -10px;
}
.point-right svg {
  left: -40px;
}
.point-left {
  right: -10px;
}
.point-left svg {
  left: 0;
}
.point-down {
  top: -10px;
}
.point-down svg {
  top: -40px;
  left: 0;
}
.point-up {
  bottom: -10px;
}
.point-up svg {
  top: 0;
  left: 0;
}
/* HOME ------------------------------ */
.home {
  display: table;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: #222;
  color: #666666;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.home.ease {
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.home .inner {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 40px;
}
.home .pitch {
  display: block;
  position: relative;
  max-width: 310px;
  margin: 0 auto;
}
.home .pitch:hover img {
  -webkit-transform: rotate(10deg) translateX(20px);
      -ms-transform: rotate(10deg) translateX(20px);
          transform: rotate(10deg) translateX(20px);
}
.home .btn {
  border-color: #ff9900;
  color: #ff9900;
}
.home .btn:hover {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #222;
}
.home h1 {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  margin-bottom: 20px;
  color: #eeeeee;
  font-size: 38px;
  line-height: 40px;
}
.home p {
  color: #999999;
  font-size: 14px;
}
.home .stub {
  display: block;
  position: absolute;
  width: 150px;
  height: auto;
  top: 60px;
  right: -65px;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
  pointer-events: none;
}
.home .keyboard {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(5%, -50%, 0);
          transform: translate3d(5%, -50%, 0);
}
#device {
  display: block;
  width: 240px;
  height: 120px;
  margin: 0 auto 40px;
}
#device * {
  stroke: #666666;
  stroke-width: 6px;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
.scroll {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
.pixel-pencil {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 20px;
  left: 50%;
  bottom: 20px;
  margin-left: -40px;
}
.pixel-pencil svg {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  width: 40px;
  height: 40px;
}
.pixel-pencil svg * {
  fill: #666666;
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
.pixel-pencil:hover svg * {
  fill: #ff9900;
}
/* ABOUT ------------------------------ */
.row.about .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.hero,
.definition {
  width: 50%;
}
.hero {
  background-color: #eeeeee;
  color: #666666;
  border-color: #666666;
  padding: 40px;
}
.hero .icon svg * {
  stroke: #666666;
}
.hero .btn {
  color: #666666;
  border-color: #666666;
}
.hero .btn:hover {
  background-color: #666666;
  color: #eeeeee;
}
.hero .inner {
  display: block;
  width: 100%;
  float: none;
  overflow: hidden;
  zoom: 1;
  position: relative;
  max-width: 640px;
  margin: auto;
}
.hero img {
  -webkit-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}
.hero img.fade-out {
  position: absolute;
  top: 0;
  left: 0;
}
.hero:hover .fade-out {
  opacity: 0;
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}
.hero .fade-loop {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.definition {
  padding: 60px 80px;
  background-color: #ff9900;
  color: #333333;
  border-color: #333333;
}
.definition .inner {
  max-width: 540px;
}
.definition .btn {
  color: #333333;
  border-color: #333333;
}
.definition .btn:hover {
  color: #ff9900;
  background-color: #333333;
}
.definition .icon svg * {
  stroke: #333333;
}
.definition .arrow {
  width: 40px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  left: -10px;
}
.definition .arrow svg {
  left: -40px;
}
.definition .arrow svg * {
  fill: #eeeeee;
}
.definition h1 span {
  font-family: Times, "Times New Roman", serif;
  font-size: 32px;
  text-transform: none;
  position: relative;
  top: -4px;
}
/* SERVICES ------------------------------ */
.services .block {
  width: 25%;
  text-align: center;
}
.services .block .inner {
  margin: 80px auto;
  padding: 0 40px;
}
.services .block .icon {
  display: block;
  width: 200px;
  height: 100px;
  margin: 0 auto 30px;
}
.services .block .icon svg {
  display: block;
}
.services .block .arrow {
  width: 40px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  left: -10px;
}
.services .block .arrow svg {
  left: -40px;
}
.code {
  background-color: #111111;
  color: #999999;
  border-color: #999999;
}
.code .btn {
  color: #666666;
  border-color: #666666;
}
.code .btn:hover {
  color: #111111;
  background-color: #666666;
}
.code .icon svg * {
  stroke: #999999;
}
.creative {
  background-color: #333333;
  color: #ff9900;
  border-color: #ff9900;
}
.creative .btn {
  color: #ff9900;
  border-color: #ff9900;
}
.creative .btn:hover {
  background-color: #ff9900;
  color: #333333;
}
.creative .icon svg * {
  stroke: #ff9900;
}
.creative .arrow svg * {
  fill: #111111;
}
.strategy {
  background-color: #666666;
  color: #eeeeee;
  border-color: #eeeeee;
}
.strategy .btn {
  color: #eeeeee;
  border-color: #eeeeee;
}
.strategy .btn:hover {
  color: #666666;
  background-color: #eeeeee;
}
.strategy .icon svg * {
  stroke: #eeeeee;
}
.strategy .arrow svg * {
  fill: #333333;
}
.support {
  background-color: #eeeeee;
  color: #666666;
  border-color: #666666;
}
.support .icon svg * {
  stroke: #666666;
}
.support .btn {
  color: #666666;
  border-color: #666666;
}
.support .btn:hover {
  background-color: #666666;
  color: #eeeeee;
}
.support .arrow svg * {
  fill: #666666;
}
/* CREDIT ------------------------------ */
.awards,
.testimonials {
  width: 50%;
}
.awards .inner,
.testimonials .inner {
  display: block;
  float: none;
  width: 100%;
  overflow: hidden;
  zoom: 1;
}
.awards {
  background: #222;
  padding: 80px 40px;
}
.awards svg {
  display: block;
  width: 120px;
  height: 80px;
  margin: 20px auto;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.awards svg * {
  fill: #666;
}
.awards ul {
  max-width: 600px;
  text-align: center;
  margin: auto;
}
.awards ul li {
  display: block;
  float: left;
  width: 33.333%;
}
.awards ul li:hover svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.testimonials {
  background-color: #444;
  color: #ccc;
  padding: 80px;
}
.testimonials .inner {
  max-width: 550px;
  padding-left: 10px;
}
.testimonials h1 {
  margin-top: 0;
}
.testimonials h2 {
  font-size: 16px;
  text-align: left;
  margin: 20px 0 0;
}
.testimonials p {
  margin-bottom: 0;
}
/* PROFILE ------------------------------ */
.bio {
  width: 50%;
  background-color: #eeeeee;
  color: #666666;
  border-color: #666666;
  padding: 80px 60px;
}
.bio .icon svg * {
  stroke: #666666;
}
.bio .btn {
  color: #666666;
  border-color: #666666;
}
.bio .btn:hover {
  background-color: #666666;
  color: #eeeeee;
}
.bio .inner {
  max-width: 540px;
}
.pic,
.chat {
  width: 25%;
}
.chat {
  background-color: #ff9900;
  color: #333333;
  border-color: #333333;
  text-align: center;
  padding: 60px 40px;
}
.chat .btn {
  color: #333333;
  border-color: #333333;
}
.chat .btn:hover {
  color: #ff9900;
  background-color: #333333;
}
.chat .icon svg * {
  stroke: #333333;
}
.chat .icon {
  display: block;
  width: 200px;
  height: 100px;
  margin: 0 auto 20px;
}
.chat .icon svg {
  display: block;
}
.pic {
  position: relative;
  overflow: hidden;
  background: #4875b4;
}
.pic * {
  cursor: pointer;
}
.pic a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/profile.jpg);
  background-size: cover;
  background-position: center;
}
.pic .icon {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.pic .icon svg {
  width: 60px;
  height: 60px;
}
.pic .icon svg * {
  fill: #fff;
}
.pic:hover a {
  opacity: 0.2;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.pic:hover .icon {
  opacity: 1;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.pic .arrow {
  width: 40px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  left: -10px;
}
.pic .arrow svg {
  left: -40px;
}
.pic .arrow svg * {
  fill: #eeeeee;
}
/* WORK ------------------------------ */
.thumbs {
  display: block;
  overflow: hidden;
  zoom: 1;
  background-color: #333333;
}
.thumbs * {
  cursor: pointer;
}
.thumbs img {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.thumbs a {
  display: block;
}
.thumbs .info {
  float: left;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  zoom: 1;
  background: #ff9900;
  z-index: 10;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.thumbs .info .inner {
  position: relative;
  color: #333333;
  padding: 10px 15px;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
  z-index: 10;
  overflow: hidden;
  zoom: 1;
}
.thumbs .info h1,
.thumbs .info p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumbs .info h1 {
  font-size: 22px;
  margin-bottom: 0;
}
.thumbs .info p {
  font-size: 12px;
  text-transform: uppercase;
}
.thumbs .info a {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  float: right;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #eeeeee !important;
}
.thumbs .info .arrow {
  display: block;
  bottom: auto;
  top: 0;
  width: 80px;
  height: 40px;
  left: 50%;
  margin-left: -40px;
  z-index: 0;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.thumbs .info .arrow svg {
  left: 0;
}
.thumbs .info .arrow svg * {
  fill: #ff9900;
}
.thumbs li {
  float: left;
  width: 25%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.thumbs li:hover .info .inner {
  background-color: #ff9900;
  color: #333333;
}
.thumbs li:hover .info {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.thumbs li:hover img,
.thumbs li:hover .arrow {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.thumbs li:hover img {
  opacity: 0.5;
}
.thumbs .feat {
  width: 50%;
}
.thumbs .feat .info .inner {
  padding: 20px 15px;
}
.thumbs .feat:hover .arrow {
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}
/* CONTACT ------------------------------ */
.contact {
  background: #222;
  color: #666666;
  text-align: center;
}
.contact .inner {
  margin: 200px auto;
  padding: 0 80px;
  max-width: 440px;
}
.contact .btn {
  text-transform: lowercase;
  letter-spacing: 1px;
  padding: 15px 0;
  margin: 0 auto;
  width: 220px;
  font-size: 20px;
  line-height: 20px;
  border-color: #ff9900;
  color: #ff9900;
}
.contact .btn:hover {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #222;
}
.contact h1,
.contact p {
  margin-bottom: 30px;
}
.contact h1 {
  color: #eeeeee;
}
.contact p {
  color: #999999;
}
/* FOOTER ------------------------------ */
.footer {
  background: #222;
}
.footer:after {
  content: '';
  display: table;
  clear: both;
}
.footer #pexcil {
  float: left;
  width: 80px;
  height: 20px;
  margin: 30px 10px 30px 30px;
}
.footer #pexcil * {
  fill: #666666;
}
.footer .copyright {
  float: left;
  margin: 30px auto;
  padding: 0;
  color: #666666;
  font-size: 10px;
  line-height: 20px;
  cursor: default;
}
.footer .top {
  display: block;
  float: right;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
}
.footer .top svg {
  width: 50px;
  height: 50px;
  margin: 15px;
}
.footer .top svg * {
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
  stroke: #666666;
}
.footer .top:hover svg * {
  stroke: #ff9900;
}
.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 99;
  background: #111111;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
          transition: transform 0.5s ease-in-out;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header-visible .header {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.header a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.logo {
  display: block;
  float: left;
  position: relative;
  height: 80px;
  width: 180px;
  padding: 0;
  margin: 0;
  background-color: #ff9900;
  -webkit-transition: none;
          transition: none;
}
.logo svg {
  display: block;
  width: 140px;
  height: 36px;
  margin: 22px auto;
}
.logo svg * {
  fill: #222;
}
.nav,
.nav li {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  cursor: default;
}
.nav {
  float: right;
  margin-right: 15px;
}
.nav a {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  display: block;
  color: #eeeeee;
  font-size: 14px;
  line-height: 20px;
  padding: 30px 15px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease-in-out;
          transition: color 0.5s ease-in-out;
}
.nav a:hover {
  text-decoration: none;
  color: #999999;
}
.nav.slide a.current,
.nav.slide a.current:hover {
  color: #ff9900;
}
.nav.ajax a.current {
  color: #eeeeee;
}
.nav.ajax a.current:hover {
  color: #999999;
}
.social {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
}
.social li {
  display: block;
  float: left;
  width: auto;
}
.social a {
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
}
.header .social a {
  background-color: #333333;
}
.social a svg {
  width: 20px;
  height: 20px;
  margin: 30px;
}
.social a svg * {
  fill: #eeeeee;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.social a.facebook:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}
.social a.twitter:hover {
  background-color: #00acee;
  border-color: #00acee;
}
.social a.googleplus:hover {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.social a.linkedin:hover {
  background-color: #4875b4;
  border-color: #4875b4;
}
.contact .social {
  float: none;
  width: 240px;
  margin: 30px auto 0;
  overflow: hidden;
  zoom: 1;
  text-align: center;
}
.contact .social li {
  display: inline-block;
  float: none;
  margin: 0 5px;
}
.contact .social li a {
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: solid 2px #666666;
}
.contact .social li a svg {
  margin: 10px;
}
.contact .social li a svg * {
  fill: #666666;
}
.contact .social li a:hover svg * {
  fill: #eeeeee;
}
.work-nav {
  display: block;
  float: left;
  width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 5px;
}
.spec .work-nav {
  margin-bottom: 20px;
  padding: 0;
}
.work-nav ul {
  display: block;
  float: left;
  width: 100%;
}
.work-nav li {
  display: block;
  float: right;
  position: relative;
}
.spec .work-nav li {
  width: auto;
  margin-bottom: 0;
  right: -10px;
}
.work-nav li.close {
  float: left;
  right: auto;
  width: 20%;
}
.spec .work-nav li.close {
  right: auto;
  left: -10px;
}
.work-nav li.close a {
  background: #999999;
  color: #333333;
}
.work-nav li.close a svg * {
  stroke: #333333;
}
.work-nav li.prev {
  width: 30%;
}
.work-nav li.prev a {
  background: #333333;
  color: #999999;
}
.work-nav li.prev a svg * {
  stroke: #999999;
}
.work-nav li.next {
  width: 50%;
}
.work-nav li.next a {
  background: #ff9900;
  color: #333333;
}
.work-nav li.next a svg * {
  stroke: #333333;
}
.work-nav li.next svg,
.work-nav li.next span {
  float: right;
}
.spec .work-nav li.close,
.spec .work-nav li.prev,
.spec .work-nav li.next {
  width: auto;
}
.work-nav li.close a:hover,
.work-nav li.prev a:hover,
.work-nav li.next a:hover {
  background: #111111;
  color: #ff9900;
}
.work-nav li.close a:hover svg *,
.work-nav li.prev a:hover svg *,
.work-nav li.next a:hover svg * {
  stroke: #ff9900;
}
.work-nav li.close a.null,
.work-nav li.prev a.null,
.work-nav li.next a.null,
.work-nav li.close a.null:hover,
.work-nav li.prev a.null:hover,
.work-nav li.next a.null:hover {
  background-color: #555555;
  color: #666666;
}
.work-nav li.close a.null svg *,
.work-nav li.prev a.null svg *,
.work-nav li.next a.null svg *,
.work-nav li.close a.null:hover svg *,
.work-nav li.prev a.null:hover svg *,
.work-nav li.next a.null:hover svg * {
  stroke: #666666;
}
.spec .work-nav li.close a,
.spec .work-nav li.prev a,
.spec .work-nav li.next a {
  background: transparent;
  padding: 0;
}
.spec .work-nav li.close a svg *,
.spec .work-nav li.prev a svg *,
.spec .work-nav li.next a svg * {
  stroke: #eeeeee;
}
.spec .work-nav li.close a span,
.spec .work-nav li.prev a span,
.spec .work-nav li.next a span {
  display: none;
}
.spec .work-nav li.close a:hover,
.spec .work-nav li.prev a:hover,
.spec .work-nav li.next a:hover {
  background: transparent;
}
.spec .work-nav li.close a:hover svg *,
.spec .work-nav li.prev a:hover svg *,
.spec .work-nav li.next a:hover svg * {
  stroke: #ff9900;
}
.spec .work-nav li.close a.null,
.spec .work-nav li.prev a.null,
.spec .work-nav li.next a.null,
.spec .work-nav li.close a.null:hover,
.spec .work-nav li.prev a.null:hover,
.spec .work-nav li.next a.null:hover {
  background-color: transparent;
  color: #666666;
}
.spec .work-nav li.close a.null svg *,
.spec .work-nav li.prev a.null svg *,
.spec .work-nav li.next a.null svg *,
.spec .work-nav li.close a.null:hover svg *,
.spec .work-nav li.prev a.null:hover svg *,
.spec .work-nav li.next a.null:hover svg * {
  stroke: #666666;
}
.work-nav a {
  display: block;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.work-nav a:after {
  content: '';
  display: table;
  clear: both;
}
.work-nav a svg {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}
.work-nav a svg * {
  stroke: #eeeeee;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.work-nav a span {
  display: block;
  line-height: 50px;
}
.work-nav a.null svg *,
.work-nav a.null:hover svg * {
  stroke: #666666;
}
.spec {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.spec .inner {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px 40px 120px;
}
.spec .btn {
  border-color: #ff9900;
  color: #ff9900;
}
.spec .btn:hover {
  background-color: #ff9900;
  color: #333333;
}
.spec h1,
.spec h2,
.spec h3 {
  line-height: 120%;
}
.spec h1 {
  color: #ff9900;
}
.spec h2,
.spec h3 {
  font-size: 18px;
}
.spec ul:after,
.spec li:after {
  content: '';
  display: table;
  clear: both;
}
.spec li {
  margin-bottom: 5px;
}
.spec h3 {
  float: left;
  width: 40px;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.spec p {
  float: none;
  width: auto;
  clear: none;
  margin-left: 50px;
  font-size: 12px;
  line-height: 20px;
}
.showcase {
  width: 70%;
  float: right;
  background-color: #666666;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 5px;
}
.showcase img {
  display: block;
  float: left;
  width: 50%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 5px;
}
.showcase img.col-1-2 {
  width: 50%;
}
.showcase img.col-1-3 {
  width: 33.333333%;
}
.showcase img.col-1-4 {
  width: 25%;
}
.showcase img.clearblock {
  width: 100%;
}
.showcase img.centered {
  float: none;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}
.showcase p a {
  color: #ff9900;
  font-weight: normal;
}
.showcase p a:hover {
  text-decoration: underline;
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
  position: relative;
}
.flexslider .slides > li {
  display: none;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
.flexslider .slides li {
  float: none;
  position: relative;
  background: transparent;
}
.flexslider .slides li .inner {
  width: auto;
  padding: 0;
  margin-right: 10px;
}
.flexslider .slides img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}
/* FlexSlider Default Theme
*********************************/
.flexslider {
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;
  zoom: 1;
  z-index: 0;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.loading .flex-viewport {
  max-height: 300px;
}
.flexslider .slides {
  zoom: 1;
}
.carousel li {
  margin-right: 5px;
}
/* Direction Nav */
.flex-direction-nav {
  display: none;
  float: right;
}
.flex-direction-nav li {
  display: block;
  float: left;
}
.flex-direction-nav a {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  z-index: 10;
  cursor: pointer;
  text-indent: -9999em;
  background-color: #333333;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
  outline: none;
}
.flex-direction-nav a:hover {
  background-color: #666;
  background-color: rgba(0, 0, 0, 0.8);
}
.flex-direction-nav .flex-prev {
  right: 80px;
  background-position: 0 -320px;
}
.flex-direction-nav .flex-next {
  right: 0;
  background-position: -80px -320px;
}
/*.flex-direction-nav .flex-prev:hover {opacity: .5;}
.flex-direction-nav .flex-next:hover {opacity: .5;}*/
/*.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}*/
.flex-direction-nav .flex-disabled {
  opacity: 0.3;
  cursor: default;
}
/* Control Nav */
.flex-control-nav {
  display: block;
  float: none;
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding: 0;
  margin: 20px 0 0;
  text-align: left;
  left: -5px;
  z-index: 99;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.flex-control-nav li {
  display: block;
  float: left;
  margin: 0;
}
.flex-control-nav li a {
  display: block;
  width: 30px;
  height: 20px;
  -webkit-transition: none;
          transition: none;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
}
.flex-control-nav li a:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border: solid 2px #ccc;
  margin: 5px auto;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}
.flex-control-nav li a:hover:before {
  opacity: 1;
}
.flex-control-nav li a.flex-active:before {
  opacity: 1;
  background: #ccc;
}
.awwwards {
  display: block;
  width: 70px;
  height: 105px;
  position: absolute;
  z-index: 10;
  top: 40px;
  right: -1px;
  overflow: hidden;
  text-indent: -8000px;
  background-color: transparent !important;
  background-image: url(/images/awwwards_honorable_black_right.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .awwwards {
    background-image: url(/images/awwwards_honorable_black_right2x.png);
    background-size: 70px 105px;
  }
}
@media only screen and (max-width: 1240px) {
  .bio {
    width: 25%;
    padding: 60px;
  }
  .chat {
    width: 50%;
  }
  .services .block .inner {
    margin: 60px auto;
  }
  .thumbs li,
  .thumbs li.feat {
    width: 33.333%;
  }
  .thumbs li .info .inner,
  .thumbs li.feat .info .inner {
    padding: 10px 15px;
  }
  .thumbs li:hover .arrow,
  .thumbs li.feat:hover .arrow {
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .contact .inner {
    margin: 180px auto;
  }
  .spec h1 {
    font-size: 22px;
  }
  .spec h2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1140px) {
  .definition {
    padding: 60px 80px;
  }
  .services .block {
    width: 50%;
  }
  .services .block .inner {
    margin: 40px auto;
    padding: 20px 40px;
    max-width: 360px;
  }
  .strategy .arrow {
    display: none;
  }
  .awards {
    padding: 60px 40px;
  }
  .testimonials {
    padding: 60px 80px;
  }
  .bio,
  .pic,
  .chat {
    width: 33.333%;
  }
  .chat {
    padding: 40px 20px;
  }
  .work-nav .inner {
    padding: 0 10px;
  }
  .spec,
  .showcase {
    float: left;
    width: 100%;
  }
  .spec {
    position: static;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    border: solid 5px #666;
    background-color: #333333;
  }
  .spec .inner {
    margin: 40px auto 60px;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 1024px) {
  a:hover,
  a:active,
  a:focus {
    color: #666666;
  }
  .hero,
  .definition {
    width: 100%;
    height: auto !important;
  }
  .definition {
    text-align: center;
    padding: 60px 40px;
  }
  .definition .arrow {
    width: 80px;
    height: 40px;
    left: 50%;
    margin-left: -40px;
    margin-top: 0;
    top: -10px;
  }
  .definition .arrow svg {
    top: -40px;
    left: 0;
  }
  .awards,
  .testimonials {
    width: 100%;
    height: auto !important;
  }
  .testimonials {
    padding: 80px;
  }
  .thumbs .feat .inner img {
    margin-bottom: 90px;
  }
  .thumbs .inner img {
    margin-bottom: 70px;
  }
  .thumbs .feat .inner a img,
  .thumbs .inner a img {
    margin: 0;
  }
  .thumbs .info {
    position: relative;
    bottom: auto !important;
    z-index: 0;
    top: auto;
    bottom: 0;
  }
  .thumbs .info .arrow {
    display: block;
    top: -20px;
  }
  .thumbs li .arrow,
  .thumbs li:hover .arrow,
  .thumbs li.feat .arrow,
  .thumbs li.feat:hover .arrow {
    top: -20px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .thumbs li img,
  .thumbs li:hover img,
  .thumbs li.feat img,
  .thumbs li.feat:hover img {
    top: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .thumbs li .info,
  .thumbs li:hover .info,
  .thumbs li.feat .info,
  .thumbs li.feat:hover .info,
  .thumbs li .arrow,
  .thumbs li:hover .arrow,
  .thumbs li.feat .arrow,
  .thumbs li.feat:hover .arrow {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
@media only screen and (max-width: 960px) {
  .awwwards {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .bio {
    width: 66.666%;
    height: auto !important;
    padding: 80px;
  }
  .chat {
    width: 100%;
    height: auto !important;
    padding: 60px 40px;
  }
  .contact .inner {
    padding: 0 40px;
  }
  .thumbs .feat .inner img,
  .thumbs .inner img {
    margin-bottom: 70px;
  }
  .thumbs li,
  .thumbs li.feat {
    width: 50%;
  }
  .thumbs .feat .arrow,
  .thumbs .feat:hover .arrow {
    top: -20px;
  }
  .thumbs .feat .info .inner {
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 840px) {
  .header .social {
    display: none;
  }
  .work-nav li.close,
  .work-nav li.prev,
  .work-nav li.next {
    width: 33.333%;
  }
  .spec .work-nav li.close,
  .spec .work-nav li.prev,
  .spec .work-nav li.next {
    width: auto;
  }
}
@media only screen and (max-width: 800px) {
  .showcase img.centered {
    padding: 5px;
  }
  .bio {
    padding: 80px;
  }
  .awwwards {
    display: none;
  }
}
@media only screen and (max-width: 680px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 22px;
  }
  .definition h1 span {
    font-size: 26px;
    top: -2px;
  }
  .bio,
  .pic {
    width: 50%;
  }
  .bio {
    padding: 60px;
  }
  .testimonials {
    padding: 60px 50px;
  }
}
@media only screen and (max-width: 600px) {
  .services .block {
    width: 100%;
    height: auto !important;
  }
  .services .block .arrow {
    display: block;
    width: 80px;
    height: 40px;
    left: 50%;
    margin-left: -40px;
    margin-top: 0;
    top: -10px;
  }
  .services .block .arrow svg {
    top: -40px;
    left: 0;
  }
  .bio {
    padding: 60px 40px;
  }
  .thumbs {
    padding: 0;
  }
  .thumbs li,
  .thumbs li.feat {
    width: 100%;
  }
  .showcase img {
    width: 100%;
  }
  .awards {
    padding: 40px;
  }
  .awards svg {
    width: 90px;
    height: 60px;
  }
  .work-nav li.close {
    display: none;
  }
  .spec .work-nav li.close {
    display: block;
  }
  .work-nav li.prev,
  .work-nav li.next {
    width: 50%;
  }
  .spec .work-nav li.prev,
  .spec .work-nav li.next {
    width: auto;
  }
  .spec .inner {
    margin: 20px auto 40px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 520px) {
  .header {
    height: 50px;
  }
  .logo {
    height: 50px;
    width: 120px;
  }
  .logo svg {
    width: 100px;
    height: 26px;
    margin: 12px auto;
  }
  .nav {
    margin-right: 5px;
  }
  .nav a {
    font-size: 12px;
    padding: 15px 10px;
  }
  .home .pitch {
    max-width: 240px;
  }
  .home h1 {
    font-size: 28px;
    line-height: 32px;
    padding: 0 5px;
    margin-bottom: 15px;
  }
  .home p {
    font-size: 12px;
  }
  .home img {
    top: 50px;
    right: -70px;
  }
  .home .btn {
    margin-top: 15px;
  }
  #device {
    margin-bottom: 25px;
  }
  .pixel-pencil {
    width: 30px;
    height: 30px;
    margin-left: -35px;
    bottom: 10px;
  }
  .pixel-pencil svg {
    width: 30px;
    height: 30px;
  }
  .hero {
    padding: 40px 10px;
  }
  .hero .centerV {
    max-width: 360px;
  }
  .bio,
  .pic {
    width: 100%;
  }
  .bio {
    padding: 60px 40px;
  }
  .pic {
    height: 300px;
  }
  .pic a {
    opacity: 0.2;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .pic .icon {
    opacity: 1;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
  .pic .arrow {
    width: 80px;
    height: 40px;
    left: 50%;
    margin-left: -40px;
    margin-top: 0;
    top: -10px;
  }
  .pic .arrow svg {
    top: -40px;
    left: 0;
  }
  .awards {
    padding: 40px 20px;
  }
  .awards svg {
    width: 75px;
    height: 50px;
  }
  .flex-control-nav li a {
    width: 20px;
  }
  .testimonials {
    padding: 60px 30px;
  }
  .testimonials h2 {
    font-size: 12px;
  }
  .showcase img.col-1-3 {
    width: 100%;
  }
  .contact .inner {
    margin: 100px auto;
  }
  .footer #pexcil {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 320px) {
  #device {
    width: 200px;
    height: 100px;
  }
}
@media only screen and (max-height: 580px) {
  .pixel-pencil {
    position: relative;
    width: 30px;
    height: 30px;
    bottom: auto;
    left: auto;
    padding: 0;
    margin: 35px auto 0;
  }
  .pixel-pencil svg {
    width: 30px;
    height: 30px;
  }
}
